<html>
   
<head>
      <title>CommCell Selection</title>
	 </head>	

<body> 
<h1>   CommCell Selection </h1>

<form action = "https://cvchartsbravo.storage.rackspace.com/result", method = "POST" >
            
<!-- form action = "https://cvchartsbravo.storage.rackspace.com/result" method = "POST"  -->
  <p>  <select name="Commcell">
    <option value="CS401">CS401</option>
    <option value="CS402">CS402</option>
    <option value="CS403">CS403</option>
    <option value="CS404">CS404</option>
 </select>
         
         <p><input type = "submit" value = "Run the Query" /></p>
 </form>
  
    
   </body>
</html>