<html>
   <head>
      <title>CommCell Selection</title>
	 </head>	

<body> 
<h1>   CommCell Selection </h1>
<div>
Synthetic Fulls  selection
</div>
<br>
<div>

<form action = "https://cvchartsbravo.storage.rackspace.com/SFresult", method = "POST" >
  <p>  <select name="Commcell">
    <option value="CS401">CS401</option>
    <option value="CS402">CS402</option>
    <option value="CS403">CS403</option>
    <option value="CS404">CS404</option>
    <option value="CS406">CS406</option>
    <option value="CS410">CS410</option>
    <option value="CS411">CS411</option>
    <option value="CS499">CS499</option>
    <option value="CS498">CS498</option>
    <option value="CSITS">CSITS</option>
 </select></p>
         
         <p><input type = "submit" value = "Run the Query" /></p>
 </form>
  
</div>    
   </body>
</html>