<!DOCTYPE html>
<html  lang="en" >
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CommCell Selection</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 </head>	

<body> 

 <div class="jumbotron">
  <div class="container">
         <h1 class="text-center"> Ra Project </h1> <h2 class="text-center">Synthetic Full Interactive Report </h2>
	  
  </div>
  </div>
 
<div class="row">
  <div class="col-md-3">
    <img src="https://cvcharts.storage.rackspace.com//figure/RA.jpg" alt="Ra" class="img-rounded center-block">
  </div>
  <div class="col-md-6">
      
      <h3>Phase I: Commcell Selection</h3>
	    <b>Interaction Steps:</B><BR>
            i-- Select and Query the Commcell<BR>
            ii--Displayed (and optionally Query) the Storage Policies with the related number of clients with Synthetic fulll<BR>
            iii-- (Optional) Query the Storage Policy for identify the Week days on when Synthetic full are running.    <BR>
  </div>
  <div class="col-md-2">
  
  </div>
</div>

<div class="row text-center">
<div class="col-md-2"><h3>LON3/5</h3>
<form action="/SFresult" method="POST">
  <p><select name="Commcell">
    <option value="CS401">CS401</option>
    <option value="CS402">CS402</option>
    <option value="CS403">CS403</option>
    <option value="CS404">CS404</option>
    <option value="CS406">CS406</option>
    <option value="CS410">CS410</option>
    <option value="CS411">CS411</option>
    <option value="CS499">CS499</option>
    <option value="CS498">CS498</option>
    <option value="CSITS">CSITS</option>
	<option value="CS301">CS301</option>
    <option value="CS302">CS302</option>
 </select></p>
         
         <p><input class="btn btn-success" type = "submit" value = "Query the LON Commcell" /></p>
	</form>
	</div>
		 
<div class="col-md-2"><h3>ORD</h3>
<form action="/SFresult" method="POST" >
  <p>  <select name="Commcell">
    <option value="CS901">CS901</option>
    <option value="CS902">CS902</option>
    <option value="CS903">CS903</option>
    <option value="CS904">CS904</option>
    <option value="CS905">CS905</option>
    <option value="CS906">CS906</option>
    </select></p>
         
         <p><input class="btn btn-success" type = "submit" value = "Query the ORD Commcell" /></p>
	</form>
	</div>
			 
<div class="col-md-2"><h3>IAD</h3>
<form action="/SFresult" method="POST">
  <p>  <select name="Commcell">
    <option value="CS801">CS801</option>
    <option value="CS802">CS802</option>
    <option value="CS803">CS803</option>
    <option value="CS804">CS804</option>
    <option value="CS805">CS805</option>
 </select></p>
         
         <p><input class="btn btn-success" type = "submit" value = "Query the IAD Commcell" /></p>
	</form>
	</div>	
			 
  <div class="col-md-2"><h3>DFW</h3>
<form action="/SFresult" method="POST">
  <p>  <select name="Commcell">
    <option value="CS01">CS01</option>
    <option value="CS07">CS07</option>
    <option value="CS12">CS12</option>
    <option value="CS20">CS20</option>
    <option value="CS21">CS21</option>
    <option value="CS41">CS41</option>
    <option value="CS101">CS101</option>
    <option value="CS102">CS102</option>
    <option value="AONCS">AONCS</option>
 </select></p>
         
         <p><input class="btn btn-success" type = "submit" value = "Query the DFW Commcell" /></p>
	</form>
	</div>
	 		 
<div class="col-md-2"><h3>SYD</h3>
<form action="/SFresult" method="POST">
  <p>  <select name="Commcell">
    <option value="CS501">CS501</option>
    <option value="CS502">CS502</option>
    <option value="CS510">CS510</option>
   
 </select></p>
         
         <p><input class="btn btn-success" type = "submit" value = "Query the Syd Commcell" /></p>
	</form>
	</div>
			 
<div class="col-md-2"><h3>HK</h3>	
	<form action = "/SFresult" method = "POST" >
  <p>  <select name="Commcell">
    <option value="CS701">CS701</option>
   
 </select></p>
         
         <p><input class="btn btn-success" type = "submit" value = "Query the Commcell" /></p>
	</form>	 
	</div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
</html>